body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
  margin: 0;
  align-content: center;
  background-color: #000000;
}

#searchDescription {
  font-size: 20px;
  color: white;
  margin-top: 80px;
  align-content: center;
  background-color: #000000;
}

.container {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.left-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:300px;
    font-size: 20px;
    color: white;
    margin-left: 17%;
}

/* Inserting this collapsed row between two flex items will make 
 * the flex item that comes after it break to a new row */
 .break {
  flex-basis: 100%;
  height: 0;
}


.right-cont{
    display: flex;
    flex-direction: column;
    width:300px;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-right: 17%;
}

.center {
text-align: center;
}
/*h1 tag*/
h1 {
  font-family: Andale Mono, monospace;
  font-size: 50px;
  color: white;
  margin: 0;
  margin-top: 30px;
  align-content: center;
  background-color: #000000;
}

p {
  font-family: Andale Mono, monospace;
  padding: 10px;
  margin: 0;
}


/*search bar*/
input[type="text"] {
  width: 120px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
/*on search bar click, expand*/
input[type="text"]:focus {
  width: 400px;
}

/*spacing for radio buttons*/
#autonHighShotButtons, #autonLowShotButtons, #autonBallsButtons, #autonPlatformButtons, #autonBasketballButtons {
  font-size: 20px;
  color: white;
  /*spaces in between the buttons*/
  margin-left: 25px;
}

