body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
  margin: 0;
  align-content: center;
  background-color: #000000;
}

#searchDescription {
  font-size: 20px;
  color: white;
  margin-top: 80px;
  align-content: center;
  background-color: #000000;
}

.container {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.left-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:370px;
    font-size: 20px;
    color: white;
    margin-left: 15%;
}


/* Inserting this collapsed row between two flex items will make 
 * the flex item that comes after it break to a new row */
 .break {
  flex-basis: 100%;
  height: 0;
}


.right-cont {
    display: flex;
    flex-direction: column;
    width:370px;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-right: 15%;
}

.center-cont {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.bottom-cont {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 80px;  
}

.spacer {
  flex-basis: 100%;
  height: 40px;
}
 
.center {
text-align: center;
}
/*h1 tag*/
h1 {
  font-family: Andale Mono, monospace;
  font-size: 50px;
  color: white;
  margin: 0;
  margin-top: 30px;
  align-content: center;
  background-color: #000000;
}

p {
  font-family: Andale Mono, monospace;
  padding: 10px;
  margin: 0;
}


/*search bar*/
input[name="search"] {
  width: 120px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/*on search bar click, expand*/
input[name="search"]:focus {
  width: 400px;
}

/*spacing for all radio buttons*/
#autonPlatformButtons, #autonBasketballButtons, #teleopLaunchpadButtons,
#endgameAttemptedClimbButtons, #endgamePreparedButtons,
#endgameClimbTimeButtons, #defenseAttemptedBlockButtons,
#defenseHeldBallsButtons {
  font-size: 20px;
  color: white;
  /*spaces in between the buttons*/
  margin-left: 25px;
  /*spaces between the radio button and the next div*/
  margin-bottom: 12px;
}
/*all sliders*/
.slider {
  /*spacing for sliders*/
  margin-bottom: 12px;
  margin-top: 12px;
}

/*all textInput*/
.textInput {
  /*spacing for textInput*/
  margin-bottom: 12px;
  margin-top: 12px;
}

#comments {
  display: block;
  width: 30%;
  overflow: hidden;
  resize: none;
  min-height: 40px;
  line-height: 25px;
  font-size: 25px;
  color: white;
  background-color: black;
  border-radius: 10px;
  border: 4px solid white;
}

#comments[contenteditable]:empty::before {
  content: "comment here...";
  color: gray;
}

#submit {
  /*styles for submit button*/
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 30px;
  cursor: pointer;
  border-radius: 10px;
}