<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel='stylesheet' href="{{ url_for('static',filename='display.css') }}">
    <!--allows scaling for different screen sizes-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static',filename='jquery-3.6.0.js') }}"></script>
    <title>Scouting App Data</title>
</head>

<body>
    <div class="back-button-cont">
        <a href="/">Go Back</a>
    </div>
    <div class="header-cont">
        <center>
            <p id="title">
                Search
            </p>
        </center>
    </div>
    <div class="container-row">
        <div class="left-cont">
            <p>
                Search bar!
            </p>
            <form action="{{ url_for('display') }}" method = "POST">
                <input type="text" id="teamId" name="Search" maxlength="10" placeholder="Team ID Here">
                <!--only allow integer inputs in text-->
                <script>
                document.getElementById("teamId").onkeypress = function(e) {
                    return /\d/.test(String.fromCharCode(e.charCode));
                }
            </script>
                <button type="submit">click me to submit</button>
            </form>
                <img src="{{ url_for('static',filename='3637-dalek.png') }}" alt="3637 dalek picture" id="dalek-image">
        </div>
        <div class="right-cont">
            <p>All Teams:</p>
            <div class="teams-cont">
                {% for row in team_1 %}
                {{row[0]}}
                {% endfor %}
            </div>
        </div> 
    </div>
    <div class="container-row">
        <div class="left-cont">
            {% if not(result[0])%}
            <p id = "table-title">NO DATA</p>
            {% else %}
            <p id = "table-title"> 
                Auton
            </p>
            <div class="key">
                <table>
                    <thead>
                    <tr>
                        <th>Team</th>
                        <th>Match Number</th>
                        <th>Color</th>
                        <th>High</th>
                        <th>Mid</th>
                        <th>Low</th>
                        <th>Left Platform</th>
                        <th>Out of Community</th> 
                    </tr>
                    </thead>
                    <tbody>
                        {% for row in result[0] %}
                        <tr>
                            <td>{{row[0]}}</td>
                            <td>{{row[1]}}</td>
                            <td>{{row[2]}}</td>
                            <td>{{row[3]}}</td>
                            <td>{{row[4]}}</td>
                            <td>{{row[5]}}</td>
                            <td>{{row[6]}}</td>
                            <td>{{row[7]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
        <div class="right-cont">
            {% if not (result[1]) %}
            {% else %}
            <p id = "table-title"> 
                Teleop
            </p>
            <div class="key">
                <table>
                    <thead>
                    <tr>
                        <th>Team</th>
                        <th>Match Number</th>
                        <th>Color</th>
                        <th>Moved</th>
                        <th>High</th>
                        <th>Mid</th>
                        <th>Low</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in result[1] %}
                    <tr>
                        <td>{{row[0]}}</td>
                        <td>{{row[1]}}</td>
                        <td>{{row[2]}}</td>
                        <td>{{row[3]}}</td>
                        <td>{{row[4]}}</td>
                        <td>{{row[5]}}</td>
                        <td>{{row[6]}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container-row">
        <div class="left-cont">
            {% if not(result[2]) %}
            {% else %}
            <p id = "table-title"> 
                Endgame
            </p>
            <div class="key">
                <table>
                    <thead>
                    <tr>
                        <th>Team</th>
                        <th>Match Number</th>
                        <th>Color</th>
                        <th>Charge Status</th>
                        <th>Win?</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in result[2] %}
                    <tr>
                        <td>{{row[0]}}</td>
                        <td>{{row[1]}}</td>
                        <td>{{row[2]}}</td>
                        <td>{{row[3]}}</td>
                        <td>{{row[4]}}</td>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            </div>
        </div>
        <div class="right-cont">
            {% if not(result[3]) %}
            {% else %}
            <p id = "table-title"> 
                Defense
            </p>
            <div class="key">
                <table>
                    <thead>
                    <tr>
                        <th>Team</th>
                        <th>Match Number</th>
                        <th>Color</th>
                        <th>Blocked Others</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in result[3] %}
                    <tr>
                        <td>{{row[0]}}</td>
                        <td>{{row[1]}}</td>
                        <td>{{row[2]}}</td>
                        <td>{{row[3]}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            </div>
        </div>
    </div>
    <div class="container-row">
        <div class="right-cont">
            {% if not(result[4]) %}
            {% else %}
            <p id = "table-title">
                Comments
            </p>
            <div class="key">
                <table>
                    <thead>
                    <tr>
                        <th>Team</th>
                        <th>Match Number</th>
                        <th>Color</th>
                        <th>Comments</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in result[4] %}
                    <tr>
                        <td>{{row[0]}}</td>
                        <td>{{row[1]}}</td>
                        <td>{{row[2]}}</td>
                        <td id="comments">{{row[3]}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            </div>
        </div>
    </div>
    <div class="container-row">
        <div class="left-cont">
            {% if not(result[5]) %}
            {% else %}
            <p id = "table-title">
                Pit
            </p>
            <div class="key">
                <table>
                    <thead>
                    <tr>
                        <th>Team</th>
                        <th>Length</th>
                        <th>Width</th>
                        <th>Weight</th>
                        <th>Defense</th>
                        <th>Start Position</th>
                        <th>Preferred Substation</th>
                        <th>Triple Balance</th>
                        <th>Preferred Piece</th>
                        <th>Intake</th>
                        <th>Scoring</th>
                        <th>Drivebase</th>
                        <th>Auton</th>
                        <th>Comments</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in result[5] %}
                    <tr>
                        <td>{{row[0]}}</td>
                        <td>{{row[2]}}</td>
                        <td>{{row[3]}}</td>
                        <td>{{row[4]}}</td>
                        <td>{{row[9]}}</td>
                        <td>{{row[10]}}</td>
                        <td>{{row[11]}}</td>
                        <td>{{row[12]}}</td>
                        <td>{{row[13]}}</td>
                        <td id="comments">{{row[5]}}</td>
                        <td id="comments">{{row[6]}}</td>
                        <td id="comments">{{row[7]}}</td>
                        <td id="comments">{{row[8]}}</td>
			            <td id="comments">{{row[14]}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            </div>
        </div>
    </div>
</body>
