<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel='stylesheet' href="{{ url_for('static',filename='style.css') }}">
    <script src="{{url_for('static',filename='jquery-3.6.0.js') }}"></script>
    <!--allows scaling for different screen sizes-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scouting App</title>
</head>

<body>
    <div>
        <h1>
            <center>
                <p>Scouting App</p>
            </center>
        </h1>
    </div>
    <div>
        <center>
            <p>
                <b style="color: #d90429;">Remastered</b>
            </p>
            <!--TODO: make video offline ;p-->
            <a href="/display">
                To Display Page
            </a>
            <p></p>
            <a href="/pitscouting">
                To Pit Scouting Page
            </a>
        </center>
    </div>
    <!--Change location to /cgi-bin/database.py when moved to /usr/lib/cgi-bin/-->
    <form action = "/cgi-bin/database.py" method="post">
        <div class = "teamColor-cont">
            <p id="teamColorText">
                <b>Team Color:</b>
            </p>
            <input required type="radio" name="teamColor" value="R">Red</input>
            <input required type="radio" name="teamColor" value="B">Blue</input>
        </div> 
    <div class = "container-row">
        <div class = "header-left">
            <p id="searchDescription">
                <b>Enter Team ID Here:</b>
            </p>
            <input required type="text" name="teamId" maxlength="10" placeholder="Team Number"></input>
            <!--only allow integer inputs in text-->
            <script>
                document.getElementByName("teamId").onkeypress = function(e) {
                    return /\d/.test(String.fromCharCode(e.charCode));
                }
            </script>
        </div>
        <div class = "header-right">
            <p id="searchDescription">
                <b>Enter Match Number Here:</b>
            </p>
            <input required type="text" name="matchNumber" maxlength="3" placeholder="Match Number"></input>
            <!--only allow integer inputs in text-->
            <script>
                document.getElementByName("matchNumber").onkeypress = function(e) {
                    return /\d/.test(String.fromCharCode(e.charCode));
                }
            </script>
        </div>
    </div>
</body>

<body>          
    <div class = "container">
        <div class = "left-cont">
            <center>
            <div>
                <p id="Auton">
                    <b>Auton</b>
                </p>
            </div>
            <div>
                <p>
                    High Cubes Placed:
                </p>
                <input type="text" class="textInput" maxlength="2" name="AHCP">
                <p>
                    High Cones Placed:
                </p>
                <input type="text" class="textInput" maxlength="2" name="AHCO">
                <!--only allow integer inputs in text-->
                <script>
                    // Cubes
                    document.getElementByName("AHCP").onkeypress = function(e) {
                        return /\d/.test(String.fromCharCode(e.charCode));
                    }
                    // Cones
                    document.getElementByName("AHCO").onkeypress = function(e) {
                        return /\d/.test(String.fromCharCode(e.charCode));
                    }
                </script>
            </div>
            <div>
                <p>
                    Mid Cubes Placed:
                </p>
                <input type="text" class="textInput" maxlength="2" name="AMCP" >
                <p>
                    Mid Cones Placed:
                </p>
                <input type="text" class="textInput" maxlength="2" name="AMCO" >
                <!--only allow integer inputs in text-->
                <script>
                    // Cubes
                    document.getElementByName("AMCP").onkeypress = function(e) {
                        return /\d/.test(String.fromCharCode(e.charCode));
                    }
                    // Cones
                    document.getElementByName("AMCO").onkeypress = function(e) {
                        return /\d/.test(String.fromCharCode(e.charCode));
                    }
                </script>
            </div>
            <div>
                <p>
                    Low Cubes Placed:
                </p>
                <input type="text" class="textInput" maxlength="2" name="ALCP">
                <p>
                    Low Cones Placed:
                </p>
                <input type="text" class="textInput" maxlength="2" name="ALCO">
                <!--only allow integer inputs in text-->
                <script>
                    // Cubes
                    document.getElementByName("ALCP").onkeypress = function(e) {
                        return /\d/.test(String.fromCharCode(e.charCode));
                    }
                    // Cones
                    document.getElementByName("ALCO").onkeypress = function(e) {
                        return /\d/.test(String.fromCharCode(e.charCode));
                    }
                </script>
            </div>
            <div>
                <p>
                    Got on the Charge Station:
                </p>
                <input type="radio" name="autonPlatform" value="Y">Y</input>
                <input type="radio" name="autonPlatform" value="N">N</input>
            </div>
            <div>
                <p>
                    Out of Community: 
                </p>
                <input type="radio" name="autonOutOfComminity" value="Y">Y</input>
                <input type="radio" name="autonOutOfComminity" value="N">N</input>
            </div>
        </center>
        </div>
        <div class = "right-cont">
            <div>
                <p id="Teleop">
                    <b>Teleop</b>
                </p>
            </div>
            <div>
                <p>
                    Did The Robot Move?:
                </p>
                <input type="radio" name="teleopMove" value="Y">Y</input>
                <input type="radio" name="teleopMove" value="N">N</input>
            </div>
            <div>
                <p>
                    High Cubes Placed:
                </p>
                <input type="text" class="textInput" maxlength="2" name="THCP">

                <p>
                    High Cones Placed:
                </p>
                <input type="text" class="textInput" maxlength="2" name="THCO">
                <!--only allow integer inputs in text-->
                <script>
                    //Cubes
                    document.getElementByName("THCP").onkeypress = function(e) {
                        return /\d/.test(String.fromCharCode(e.charCode));
                    }
                    // Cones
                    document.getElementByName("THCO").onkeypress = function(e) {
                        return /\d/.test(String.fromCharCode(e.charCode));
                    }
                </script>
            </div>
            <div>
                <p>
                    Mid Cubes Placed:
                </p>
                <input type="text" class="textInput" maxlength="2" name="TMCP" >

                <p>
                    Mid Cones Placed:
                </p>
                <input type="text" class="textInput" maxlength="2" name="TMCO" >
                <!--only allow integer inputs in text-->
                <script>
                    // Cubes
                    document.getElementByName("TMCP").onkeypress = function(e) {
                        return /\d/.test(String.fromCharCode(e.charCode));
                    }
                    // Cones
                    document.getElementByName("TMCO").onkeypress = function(e) {
                        return /\d/.test(String.fromCharCode(e.charCode));
                    }
                </script>
            </div>
            <div>
                <p>
                    Low Cubes Placed:
                </p>
                <input type="text" class="textInput" maxlength="2" name="TLCP">

                <p>
                    Low Cones Placed:
                </p>
                <input type="text" class="textInput" maxlength="2" name="TLCO">
                <!--only allow integer inputs in text-->
                <script>
                    // Cubes
                    document.getElementByName("TLCP").onkeypress = function(e) {
                        return /\d/.test(String.fromCharCode(e.charCode));
                    }
                    // Cones
                    document.getElementByName("TLCO").onkeypress = function(e) {
                        return /\d/.test(String.fromCharCode(e.charCode));
                    }
                </script>
            </div>
        </div>
        <div class = "spacer"></div>
        <div class = "left-cont">
            <center>
            <div>
                <p id="Endgame">
                    <b>Endgame</b>
                </p>
            </div>
            <div>
                <p>
                    Charge Status: 
                </p>
                <input type="radio" name="endgameChargeStatus" value="B">Balanced</input>
                <input type="radio" name="endgameChargeStatus" value="U">Unbalanced</input>
                <input type="radio" name="endgameChargeStatus" value="F">Failed</input>
            </div>
            <div>
                <p>
                    Win Status:
                </p>
                <input required type="radio" name="endgameWin" value="W">Won</input>
                <input required type="radio" name="endgameWin" value="T">Tied</input>
                <input required type="radio" name="endgameWin" value="L">Lost</input>

            </div>
        </div>
        <div class = "right-cont">
            <center>
            <div>
                <p id="Defense">
                    <b>Defense</b>
                </p>
            </div>
            <div>
                <p>
                    Attempted to Block Others: 
                </p>
                <input type="radio" name="defenseAttemptedBlock" value="Y">Y</input>
                <input type="radio" name="defenseAttemptedBlock" value="N">N</input>
            </div>
            </center>
        </div>
        <div class = "spacer"></div>
        <div class = "center-cont">
            <center>
            <div>
                <p id="Comments">
                    <b>Comments:</b>
                </p>
                <!--maybe add maxlength to the maxlength of TEXT in mySQL?-->
                <textarea rows="15" cols="50" name="comments" maxlength = "300" id="comments"></textarea>
            </div>
            <div>
                <input type="submit" name="submit" value="Submit All" id="submit"></input>
                <script>
                    $(document).ready(function () {
                        $("#submit").click(function () {
                            return confirm("Are You Ready to Submit?");
                        });
                    });
                </script>
            </div>
            </center>
        </div>
        <div class = "bottom-cont">
        </div>
    </div>
</form>
</body>
<body>
    
</body>

</html>