<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel='stylesheet' href="{{ url_for('static',filename='style.css') }}">
    <script src="{{url_for('static',filename='jquery-3.6.0.js') }}"></script>
    <!--allows scaling for different screen sizes-->
    <meta name="viewport" content="PSWD=device-PSWD, initial-scale=1.0">
    <title>Scouting App</title>
</head>

<body>
    <div>
        <h1>
            <center>
                <p>Scouting App</p>
            </center>
        </h1>
    </div>
    <div>
        <center>
            <p>
                <b style="color: #d90429;">Remastered</b>
            </p>
            <!--TODO: make video offline ;p-->
            <a href="/display">
                To Display Page
            </a>
	    <p></p>
            <a href="/">
                To Main Page
            </a>
        </center>
    </div>
    <!--Change location to /cgi-bin/database.py when moved to /usr/lib/cgi-bin/-->
    <form action = "/cgi-bin/database.py" method="post">
    <div class = "container-row">
        <div class = "header-left">
            <p id="searchDescription">
                <b>Enter Team ID Here:</b>
            </p>
            <input required type="text" name="teamId" maxlength="10" placeholder="Team Number"></input>
            <!--only allow integer inputs in text-->
            <script>
                document.getElementByName("teamId").onkeypress = function(e) {
                    return /\d/.test(String.fromCharCode(e.charCode));
                }
            </script>
        </div>
        <div class = "header-right">
            <p id="searchDescription">
                <b>Robot Weight Here:</b>
            </p>
            <input required type="text" name="PSW" maxlength="4" placeholder="Weight"></input>
            <!--only allow integer inputs in text-->
            <script>
                document.getElementByName("PSW").onkeypress = function(e) {
                    return /\d/.test(String.fromCharCode(e.charCode));
                }
            </script>
        </div>
    </div>
</body>

<body>          
    <div class = "container">
        <div class = "left-text-cont">
            <center>
            <div>
                <p id="Size">
                    <b>Size</b>
                </p>
            </div>
            <div id="Pit-Text">
                <p>
                    Length:
                </p>
                <input type="text" class="searchDescription" maxlength="4" name="PSL" placeholder="Length">
                <!--only allow integer inputs in text-->
                <script>
                    document.getElementByName("PSL").onkeypress = function(e) {
                        return /\d/.test(String.fromCharCode(e.charCode));
                    }
                </script>
            </div>
            <div id="Pit-Text">
                <p>
                    Width:
                </p>
                <input type="text" class="searchDescription" maxlength="2" name="PSWD" placeholder="Width">
                <!--only allow integer inputs in text-->
                <script>
                    document.getElementByName("PSWD").onkeypress = function(e) {
                        return /\d/.test(String.fromCharCode(e.charCode));
                    }
                </script>
            </div>
        </center>
        </div>
        <div class = "right-text-cont">
            <div>
                <center>               
                <p id="Intake">
                    <b>Intake</b>
                </p>
                <!--maybe add maxlength to the maxlength of TEXT in mySQL?-->
                <textarea rows="15" cols="50" name="PSID" maxlength = "300" id="pit-comments"></textarea>
            </center>
            </div>
            
        </div>
        <div class = "spacer"></div>
        <div class = "left-text-cont">
            <center>
            <div>
                <p id="Scoring_Method">
                    <b>Scoring Method</b>
                </p>
                <!--maybe add maxlength to the maxlength of TEXT in mySQL?-->
                <textarea rows="15" cols="50" name="PSSD" maxlength = "300" id="pit-comments"></textarea>
            </div>
            <div id="Pit-Text">
                <p>
                    <b>Cubes, Cones, or Both?</b>
                </p>
                <input required type="radio" name="PP" value="CONE">Cone</input>
                <input required type="radio" name="PP" value="CUBE">Cube</input>
                <input required type="radio" name="PP" value="BOTH">Both</input>
            </div>
        </div>
        <div class = "right-text-cont">
            <center>
            <div>
                <p id="Drivebase">
                    <b>Drivebase</b>
                </p>
                <!--maybe add maxlength to the maxlength of TEXT in mySQL?-->
                <textarea rows="15" cols="50" name="PSDD" maxlength = "300" id="pit-comments"></textarea>
            </div>
            <div id="Pit-Text">
                <p>
                    <b>Plays Defense?</b>
                </p>
                <input required type="radio" name="DEF" value="Y">Yes</input>
                <input required type="radio" name="DEF" value="N">No</input>
            </div> 
            <div id="Pit-Text">
                <p>
                    <b>Can Triple Balence?</b>
                </p>
                <input required type="radio" name="TB" value="Y">Yes</input>
                <input required type="radio" name="TB" value="N">No</input>
            </div>
            </center>
        </div>
        <div class = "spacer"></div>
        <div class = "left-text-cont">
            <center>
            <div>
                <p id="Pit-Auton">
                    <b>Auton</b>
                </p>
                <!--maybe add maxlength to the maxlength of TEXT in mySQL?-->
                <textarea rows="15" cols="50" name="PSAD" maxlength = "300" id="pit-comments"></textarea>
            </div>
            </center>
        </div>
        <div class = "right-text-cont">
            <center>
            <div>
                <p id="Pit-Comments">
                    <b>Comments</b>
                </p>
                <!--maybe add maxlength to the maxlength of TEXT in mySQL?-->
                <textarea rows="15" cols="50" name="PSCD" maxlength = "300" id="pit-comments"></textarea>
            </div>
            </center>
        </div>
        <div class = "spacer"></div>
        <div class = "left-text-cont">
            <center>
                <div>
                    <p id = "Photo">
                        <b>Photo</b>
                    </p>
                    <input type="file" name="PSP" accept="image/*">
                </div>
            </center>
        </div>
        <div class = "center-cont">
            <center>
            <div>
                <input type="submit" name="submit" value="Submit All" id="submit"></input>
                <script>
                    $(document).ready(function () {
                        $("#submit").click(function () {
                            return confirm("Are You Ready to Submit?");
                        });
                    });
                </script>
            </div>
            </center>
        </div>
        <div class = "bottom-cont">
        </div>
    </div>
</form>
</body>
<body>
    
</body>

</html>
