body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    margin: 0;
    align-content: center;
    background-color: rgba(97, 16, 134, 0.667);
  }
  
  #searchDescription {
    font-size: 30px;
    color: white;
    margin-top: 80px;
    text-align: center;
    align-content: center;
    background-color: #000000;
  }
  
  .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  }
  
  .container-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }
  
  /*container for header*/
  .header-cont {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 150px;
  }

  #title {
    font-weight: bold;
    
  }

  .left-cont {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 20px;
    color: white;
    margin-top: 3%;
    margin-right: 5%;
    margin-left: 5%;
  }
  
  .right-cont {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
    flex-direction: column;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 3%;
    margin-right: 5%;
    margin-left: 5%;
  }

  .dalek-image {
    margin-top: 20px;
  }
  
  /* Inserting this collapsed row between two flex items will make 
   * the flex item that comes after it break to a new row */
   .break {
    flex-basis: 100%;
    height: 0;
  }
  

  /*For auton since its right next to the left-cont*/
  .key {
    display: flex;
    justify-content: space-evenly;
  }
  
  tr {
    width: 20px;
  }

  th {
    border-bottom: 3px solid white;
  }

  td {
    border-bottom: 3px solid white;
  }

  #table-title {
    font-size: 40px;
    font-weight: bold;
  }
  
  .center-cont {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
  }
  
  .bottom-cont {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 80px;  
  }
  
  .spacer {
    flex-basis: 100%;
    height: 80px;
  }
   
  .center {
  text-align: center;
  }
  /*h1 tag*/
  h1 {
    font-family: Andale Mono, monospace;
    font-size: 60px;
    color: white;
    margin: 0;
    margin-top: 30px;
    align-content: center;
    background-color: #000000;
  }
  
  p {
    font-family: Andale Mono, monospace;
    padding: 10px;
    margin: 0;
  }
  
  
  /*search bar*/
  input[name="Search"] {
    width: 160px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
  }
  
  
  /*all textInput*/
  .textInput {
    /*spacing for textInput*/
    margin-bottom: 12px;
    margin-top: 12px;
    width: 25px;
    text-align: center;
  }
  